<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work in progress</title>
    <style>
        h1{
            font-family: gilroy;
        }
        a{
            padding: .8vw 2vw;
            background-color: royalblue;
            text-decoration: none;
            color: #fff;
            border-radius: 1vh;
            font-family: gilroy;
        }
    </style>
</head>
<body>
    <h1>This site is under progress. It will be created soon.</h1>
    <h1>Sorry For Inconvinience.</h1>
    <a href="/">Go Back</a>
</body>
</html>