<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majma | More Details Page</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/boilerPlate.css">
    <link rel="stylesheet" href="/stylesheets/moreDetails.css">
</head>
<body>
    <div id="main">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <h1>Upload Image</h1>
            <div class="inputField">
                <textarea name="desc" id="desc" placeholder="Enter something about the post..."></textarea>
                <div class="imgName"></div>
                <input type="file" id="input" name="image" required>
                <div class="btns">
                    <div id="btn" class="btn">Browse</div>
                    <button id="uploadBtn">Upload</button>
                </div>
            </div>
        </form>
        <a href="/" class="btnBack"><ion-icon name="arrow-back-outline"></ion-icon></a>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        document.querySelector('#btn').addEventListener('click', ()=>{
            document.querySelector('#input').click();
            if(document.querySelector('#input').value){
                document.querySelector('.imgName').innerHTML = document.querySelector('#input').value;
            }
        })
    </script>
</body>
</html>