#main {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: rgb(165, 255, 225); */
    display: flex;
}

#main #editBox {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 99999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#editBox .editForm {
    position: relative;
    height: 80vmin;
    width: 450px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editBox .editForm #crossBtn {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    transition: .3s;
    font-size: 1.5rem;
    cursor: pointer;
}

#editBox .editForm #crossBtn:hover {
    background-color: red;
    color: #fff;
}

#editBox .editForm form {
    min-height: 0;
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#editBox .editForm form h1 {
    margin-bottom: -10px;
}

#editBox .editForm form h3 {
    margin-bottom: 3vmin;
}

#editBox .editForm form input::-webkit-outer-spin-button,
#editBox .editForm form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#editBox .editForm form input:-webkit-autofill,
#editBox .editForm form input:-webkit-autofill:hover,
#editBox .editForm form input:-webkit-autofill:focus {
    /* -webkit-text-fill-color: green; */
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}


#editBox .editForm form input {
    height: 7vmin;
    width: 100%;
    border-radius: 1vmin;
    outline: none;
    border: none;
    border: 3px solid var(--btnColor);
    padding-left: 10px;
    font-size: 1rem;
}

#editBox .editForm form button {
    padding: 13px 40px;
    color: var(--btnTextColor);
    /* background-image: linear-gradient(90deg, rgb(177, 209, 229), rgb(65, 137, 225)); */
    background-color: var(--btnColor);
    border-radius: 1vmin;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

#main #editProfileBox {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 99999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#editProfileBox .editForm {
    position: relative;
    height: 80vmin;
    width: 450px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editProfileBox .editForm #closeProfileBtn {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: red;
    transition: .3s;
}

#editProfileBox .editForm #closeProfileBtn:hover {
    background-color: red;
    color: #fff;
}

#editProfileBox .editForm form {
    min-height: 0;
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

#editProfileBox .editForm form .profilePic {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    /* background-color: #fff; */
    background-image: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

#editProfileBox .editForm form .profilePic img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
}

#editProfileBox .editForm form h1 {
    margin-bottom: 1vmin;
}

#editProfileBox .editForm form input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    opacity: 0;
    pointer-events: none;
}

#editProfileBox .editForm form .cam {
    position: absolute;
    bottom: 8%;
    right: 5%;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    /* background-color: #fff; */
    background-image: var(--background);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000000b0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* border: 2px solid #000; */
    cursor: pointer;
}

#editProfileBox .editForm form button {
    padding: 13px 40px;
    color: var(--btnTextColor);
    /* background-image: linear-gradient(90deg, rgb(177, 209, 229), rgb(65, 137, 225)); */
    background-color: var(--btnColor);
    border-radius: 1vmin;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

#main #showFollowBox {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 99999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#showFollowBox .followMain {
    position: relative;
    height: 80vmin;
    width: 450px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 30px;
}

#showFollowBox .followMain #closeFollowBtn{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(255, 43, 43);;
    transition: .3s;
    cursor: pointer;
}

#showFollowBox .followMain #closeFollowBtn:hover{
    background-color: red;
    color: #fff;
}

#showFollowBox .followMain .followNav{
    height: 8vmin;
    width: 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.154) 0px 4px 12px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    /* color: var(--textColor); */
}

#showFollowBox .followMain .followNav .showF{
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: .4;
    position: relative;
    padding: 6px 10px;
    transition:all ease 0.2s;
}

#showFollowBox .followMain .followNav .showF:hover{
    opacity: .6;
}

#showFollowBox .followMain .followNav .showF {
    text-decoration: none;
    color: #000;
}

#showFollowBox .followMain .followNav .showF:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3.5px;
    width: 0%;
    border-radius: 10px;
    background-color: #000;
    transition: all ease 0.4s;
}

#showFollowBox .followMain .followNav .showF:hover:after{
    width: 40%;
}

#showFollowBox .followMain .followNav .showF.active{
    opacity: 1;
}

#showFollowBox .followMain .followNav .showF.active:after{
	width: 100%;
}

#showFollowBox .followMain .followListBox{
    position: relative;
    width: 100%;
    height: 90%;
    /* background-color: red; */
    overflow: hidden;
}

#showFollowBox .followMain .followListBox .inputField{
    height: 13%;
    width: 100%;
    /* background-color: rgb(235, 235, 243); */
    background-image: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

#showFollowBox .followMain .followListBox .inputField input{
    height: 60%;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 1rem;
}

#showFollowBox .followMain .followListBox .followList{
    position: absolute;
    bottom: 0;
    height: 87%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 10px 0;
    gap: 10px;
    overflow-y: scroll;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

#showFollowBox .followMain .followListBox #following {
    left: 0;
}

#showFollowBox .followMain .followListBox #followers {
    left: 100%;
}

#showFollowBox .followMain .followListBox li{
    width: 90%;
    height: 70px;
    background-image: var(--background);
    display: flex;
    align-items: center;
}

#showFollowBox .followMain .followListBox li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.3rem;
    padding: 15px;
}


#showFollowBox .followMain .followListBox li a .followProfilePic{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

#showFollowBox .followMain .followListBox li a .followProfilePic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profileContents {
    height: 100vmin;
    width: 80vmax;
    /* background-color: red; */
    color: var(--textColor);
}

.profileContents .userDetailsSection {
    height: 50vmin;
    width: 100%;
    /* background-color: turquoise; */
    background-image: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileContents .userDetailsSection .userDetails {
    position: relative;
    height: 90%;
    width: 95%;
    background-color: #fff;
    /* background-color: rgb(177, 217, 213); */
    /* background-image: linear-gradient(  90deg,#fbf8f8, #eee8f0, #e3dae8); */
    border-radius: 1vmin;
    /* overflow: hidden; */
}


.userDetails .bg {
    position: relative;
    height: 30%;
    width: 100%;
    background-image: linear-gradient(30deg, #4b4b4b, #373737, #232323, #000);
    border-radius: 1vmin 1vmin 0 0;
}

.userDetails .bg .profilePic {
    position: absolute;
    top: 50%;
    left: 2%;
    height: 250px;
    width: 250px;
    border-radius: 1vmin;
    /* background-color: #fff; */
    background-image: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.userDetails .bg .profilePic img {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.userDetails .userDetailsBox {
    height: 70%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1.8vw;
}

.userDetails .userDetailsBox .details {
    height: 90%;
    width: 74%;
    /* background-color: rgb(141, 141, 141); */
    background-image: var(--background);
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* box-shadow: rgba(0, 0, 0, 0.154) 0px 4px 12px; */
}

.userDetails .userDetailsBox .userData {
    height: 90%;
    width: 40%;
    /* background-color: rgb(255, 152, 152); */
    border-radius: 1vmin;
    display: flex;
    flex-direction: column;
    padding: 1vmin 1vw;
    overflow: hidden;
    gap: 1vmin;
}

.userDetails .userDetailsBox .userData h2 {
    /* background-color: red; */
    max-width: 95%;
    overflow: auto;
    white-space: nowrap;
    font-size: 1.5rem;
}

.userDetails .userDetailsBox h3 {
    /* background-color: red; */
    max-width: 95%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* font-weight: 500; */
    gap: .5vw;
    font-size: 1rem;
}

.userDetailsBox h3 i {
    font-size: 1.3rem;
    /* color: rgb(255, 139, 197); */
    color: #6ca0dc;
}

.userDetailsBox h3 a {
    font-size: 1.3rem;
    /* color: rgb(255, 139, 197); */
    color: #6ca0dc;
    transition: .3s;
}

.userDetailsBox h3 a:hover {
    transform: translateY(1vmin);
}

.userDetails .userDetailsBox .followBox {
    height: 90%;
    width: 28%;
    /* background-color: rgb(255, 191, 191); */
    border-radius: 1vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5vmin;
    padding: 1vmin;
}

.userDetails .userDetailsBox .followBox h3 {
    display: flex;
    flex-wrap: wrap;
    line-height: .8;
}

.userDetails .userDetailsBox .followBox .social {
    /* background-color: red; */
    max-height: 45%;
    padding: 9px 0;
}

.userDetails .userDetailsBox .followBox .parts {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
    /* border: 1px solid #000; */
    border-radius: 1vmin;
    transition: .3s;
    cursor: pointer;
}

/* .userDetails .userDetailsBox .followBox .parts:nth-child(1){
    border: .15vw solid #000;
} */

.userDetails .userDetailsBox .followBox .parts:hover i {
    transform: translateY(.5vmin);
}

.userDetails .userDetailsBox .followBox .parts h3 {
    width: 100%;
    border-bottom: 1px solid #000;
    justify-content: center;
    font-size: 1rem;
    padding: 5px;
}

/* .userDetails .userDetailsBox .followBox .parts h3:nth-child(1){
    width: 80%;
    border-bottom: 2px solid #000;
    justify-content: center;
    font-size: 1.1rem;
} */

.userDetails .userDetailsBox .btns {
    height: 90%;
    width: 23%;
    /* background-color: rgb(247, 201, 201); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    border-radius: 1vmin;
}

.userDetails .userDetailsBox .btns button {
    height: 25%;
    width: 90%;
    background-color: var(--btnColor);
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
    font-size: 1rem;
    color: var(--btnTextColor);
    border: none;
    outline: none;
    /* background-image: var(--background); */
    cursor: pointer;
}

.userDetails .userDetailsBox .btns button i {
    font-size: 1.2rem;
}

.userDetails .userDetailsBox .btns a {
    text-decoration: none;
    height: 25%;
    width: 90%;
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
    font-size: 1rem;
    border: none;
    outline: none;
    /* background-image: var(--background); */
    cursor: pointer;
}

.userDetails .userDetailsBox .btns .follow{
    background-color: var(--btnColor);
    color: var(--btnTextColor);
}

.userDetails .userDetailsBox .btns .unfollow{
    background-color: rgb(238, 25, 25);
    color: var(--btnTextColor);
}

.userDetails .userDetailsBox .btns a i {
    font-size: 1.2rem;
}

.unfollow{
    background-color: red;
}

.profileContents .userPostsSection {
    height: 50vmin;
    width: 100%;
    /* background-color: rgb(205, 222, 96); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmin;
    padding-top: 1vmin;
    overflow: auto;
}

.profileContents .userPostsSection .postNav {
    min-height: 6vmin;
    width: 65%;
    /* background-color: rgb(132, 133, 125); */
    border-bottom: .15vw solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.postNav h3:hover {
    color: #000;
}

.profileContents .userPostsSection .postDiv {
    min-height: 3vmin;
    width: 85.1%;
    /* background-color: bisque; */
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    overflow: auto;
    padding-bottom: 2vmin;
}

.postDiv .post {
    position: relative;
    height: 35vmin;
    width: 35vmin;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1vmin;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postDiv .post a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
}

.postDiv .post #delBtn{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 5;
    height: 15%;
    width: 0%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkBackground);
    background-color: transparent;
    backdrop-filter: blur(5px);
    font-size: 1.3rem;
    transition: .5s;
}

.postDiv .post:hover #delBtn{
    width: 15%;
}

.post a .blog {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: .8rem;
    color: var(--textColor);
    /* background-color: red; */
}

.postDiv .post a img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    border-radius: 1vmin;
}

.postDiv .post a .postDetails {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    transition: .5s;
    opacity: 0;
}

.postDiv .post:hover a .postDetails {
    opacity: 1;
    height: 20%;
}

.postDiv .post a .postDetails .parts {
    height: 100%;
    width: 50%;
    /* background-color: #d52f2f; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
}